/node_modules/
/lib/
/test/
custom-elements.json
# top level source
dist/test
dist/image-slider.js
dist/image-slider.js.map
dist/image-slider.d.ts
dist/image-slider.d.ts.map
# only generated for size check
dist/image-slider.bundled.js